div.top{
    background-color: #81cfe0;
    display: inline-block;
    width: 1200px;
    position: fixed;
}
div.logo{
    color: #22a7f0;
    text-shadow: #22313f 2px 2px 1px;
    letter-spacing: 50px;
}
div.nav{
    display: flex;
    float: left;
}

div.link{
    padding: 20px;
    font-size: 150%;
    border: 3px ridge #2fa6ff;
}
div.link:not(:nth-child(2n+1)){
    background-color: #bcaf91;
}

div.content{
    margin-top: 210px;
    background-color: #00b5cc;
    width: 1200px;
    display: inline-block;

    color: #2c3e50;
    text-align: left;
    flex-direction: row;
}
article{
    text-align: left;
    font-size: 1.2em;
}
aside{
    align-content: flex-end;

}
footer{
    background-color: #2c3e50;
    display: inline-block;
    width: 1200px;
    margin-top: 10px;
    color: #cccccc;
}
body {
    text-align: center;
    background: #c5eff7 url("../images/just-waves.png") repeat;
}